<div class="app">
  <div class="container">
    <h1 style="color: whitesmoke;"><b>WELCOME TO CREDMARG APP</b></h1>

    <button mat-raised-button color="accent" [routerLink]="['/employee-component/add-employee']"> Add Employee </button>
    <button mat-raised-button color="accent" [routerLink]="['/vendor-component/add-vendor']"> Add Vendor </button>
    <button mat-raised-button color="accent" [routerLink]="['/employee-component/view-employee']"> View Employees</button>
    <button mat-raised-button color="accent" [routerLink]="['/vendor-component/view-vendor']"> View Vendors </button>
    <button mat-raised-button color="accent" [routerLink]="['/vendor-component/view-emails']"> View All Emails </button>
  </div>
</div>